  html{ background-color: #efefef;
font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.15;
    text-size-adjust: 100%;
} 
element.style {}

@media only screen and (min-width: 1440px) {
    .home-page-container {
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}
.home-page-container {
    margin-left: auto;
}
*, ::before, ::after {
    box-sizing: border-box;
}
div
 {
    display: block;
    unicode-bidi: isolate;
}
*, ::before, ::after {
    box-sizing: border-box;
}
.home-page{
           display: flex
;
    padding-top: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.home-page-sidebar{
    width: 230px;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 24px;
        height: fit-content;
        z-index:2;
}
.home-page-contain{
    width: calc(100% - 254px);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
    unicode-bidi: isolate;


}
.home-page-list{
    background-color: rgb(255, 255, 255);    ;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}